body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/* header related styles */

h2 {
    font-size: 40px;
    font-weight: 700;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

p {
    color: #000;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 700;
}

.header-sect {
    display: flex;
    padding: 4.5%;
    background-image: url('./images/wave.svg');
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
}

img {
    width: 79%;
    border-radius: 50%;
}

.link {
    text-decoration: none;
    padding: 10px 44.664px 10px 50px;
    border-radius: 10px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #00F 0%, #8A2BE2 100%);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.name {
    color: white;
}

/* main section related styles */
.main-sect {
    display: flex;
    padding: 4.5%;
}

/* footer */

.common-paragraph {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.speicial-head {
    text-align: center;
    padding: 35px 600px 0 600px;
}
.skill-container {
    display: flex;
    padding: 0 10%;
}
.skill {
    box-shadow: 10px 5px 40px 0px #000;
    margin: 2%;
    padding: 50px;
    border-radius: 0 20px 50px 0;
    border-left: 5px solid;
    background-image: linear-gradient(blue,cyan) 0 100%;
}
h5 {
    text-align: center;
}